/*Reset inicial HTML*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---------------------Estructura general sin cambios body-footer-------------------*/
body {
  background-image: url(./assets/p-fondo.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*header {
  background-color: #3d1036;
  color: white;
  display: grid;
  padding: 15px;
  grid-area: header; }

/*footer {
  position: absolute;
  margin-bottom: 0rem;
  width: 100%;
  grid-area: footer; }

footer div img {
  display: inline-block;
  padding: 0.5em; }*/

/*--------------------Estructura modificable "index.html" --------------------*/
/*nav ul li {
  display: inline-block;
  padding: 15px; }
  nav ul li a {
    text-decoration: none;
    color: white; }
    nav ul li a:hover {
      transition-duration: 1.5s;
      color: #15ff00; }
      */

article {
  padding: 55px 30px;
  margin: 80px 30px;
  color: white;
  text-align: center; }

.img1 {
  border: white 2px solid;
  border-radius: 2%; }

/*.img1:hover {
  transform: scale(1.1) translateZ(8px);
  transition: all;
  transition-duration: 1.5s; }

.video:hover {
  transform: scale(1.9) translateY(26%);
  transition: all;
  transition-duration: 2s; }*/

h2 {
  padding: 1fr;
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

h3 {
  padding: 1fr;
  color: black;
  text-align: center;
}

div p {
  padding: 1px;
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

/*img {
    border: 2px #2e0828 solid;
    border-radius: 2%;
}*/
/*------------------Estructura grid index.html-------------------*/
/*.wrapper {
  grid-template-columns: 1fr;
  display: grid;
  gap: 20px;
  grid-template-areas: "header"
  "article"
  "footer"; }

/*--------------------Estructura contacto.html--------------------*/
.formulario {
  width: 450px;
  margin: 20px auto;
  border: 2px black solid;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 10px;
  border-radius: 7px;
  display: grid;
}

input, textarea {
  width: 90%;
  border-radius: 2px;
  border-color: black;
  font-size: 15px;
  margin: 2px;
  padding: 6px;
}

/*------------------Estructura grid contacto.html-----------------*/
.wrapper1 {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 2em;
  grid-template-areas: "header header"
  "formulario formulario"
  "footer footer"; }

/*--------------Interaccion con grid--------------*/
.formulario {
  grid-area: formulario;
}



/*.main-head {
  grid-area: header; }

.main-footer {
  bottom: 0;
  grid-area: footer; }

article {
  grid-area: article; }

.article1 {
  grid-area: article1; }

.article2 {
  grid-area: article2; }

/*--------------------WEB---------------------*/
/*-----------1024px------------*/
/*@media (max-width: 1024px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header header"
  "article1 article2"
  "footer footer"; } }

/*------------Movil first-------------*/
/*@media (max-width: 768px) {
  .wrapper1 {
    grid-template-columns: 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header"
  "article1"
  "article2"
  "footer"; } }

/*--------------smart phone----------------*/
/*@media (max-width: 480px) {
  .wrapper1 {
    grid-template-columns: 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header"
  "article1"
  "article2"
  "footer"; }
  nav ul li {
    display: inline-block;
    padding: 5px; } }
